USE [master]
GO
/****** Object:  Database [PEDIDO]    Script Date: 26/07/2020 15:28:02 ******/
CREATE DATABASE [PEDIDO]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'PEDIDO', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\PEDIDO.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'PEDIDO_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\PEDIDO_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [PEDIDO].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [PEDIDO]
GO
/****** Object:  Table [dbo].[categorias]    Script Date: 26/07/2020 15:28:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[categorias](
	[categoriaid] [int] NOT NULL,
	[nombrecat] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[categoriaid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[clientes]    Script Date: 26/07/2020 15:28:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[clientes](
	[clienteid] [int] NOT NULL,
	[cedula_ruc] [varchar](20) NULL,
	[nombrecia] [varchar](20) NULL,
	[nombrecontacto] [varchar](20) NULL,
	[direccioncli] [varchar](50) NULL,
	[fax] [varchar](12) NULL,
	[email] [varchar](50) NULL,
	[celular] [varchar](12) NULL,
	[fijo] [varchar](12) NULL,
PRIMARY KEY CLUSTERED 
(
	[clienteid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[detalle_ordenes]    Script Date: 26/07/2020 15:28:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[detalle_ordenes](
	[ordenid] [int] NULL,
	[detalleid] [int] NOT NULL,
	[productoid] [int] NULL,
	[cantidad] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[detalleid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[empleados]    Script Date: 26/07/2020 15:28:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[empleados](
	[empleadoid] [int] NOT NULL,
	[nombre] [varchar](20) NULL,
	[apellido] [varchar](20) NULL,
	[fecha_nac] [varchar](20) NULL,
	[reporta_a] [varchar](50) NULL,
	[extension] [varchar](12) NULL,
PRIMARY KEY CLUSTERED 
(
	[empleadoid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ordenes]    Script Date: 26/07/2020 15:28:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ordenes](
	[ordenid] [int] NOT NULL,
	[empleadoid] [int] NULL,
	[clienteid] [int] NULL,
	[fechaorden] [date] NULL,
	[descuento] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ordenid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[productos]    Script Date: 26/07/2020 15:28:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[productos](
	[productoid] [int] NOT NULL,
	[proveedorid] [int] NULL,
	[categoriaid] [int] NULL,
	[descripcion] [varchar](50) NULL,
	[preciounit] [int] NULL,
	[existenccia] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[productoid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[proveedores]    Script Date: 26/07/2020 15:28:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[proveedores](
	[proveedorid] [int] NOT NULL,
	[nombreprov] [varchar](50) NULL,
	[contacto] [varchar](50) NULL,
	[celuprov] [varchar](12) NULL,
	[fijoprov] [varchar](12) NULL,
PRIMARY KEY CLUSTERED 
(
	[proveedorid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[detalle_ordenes]  WITH CHECK ADD  CONSTRAINT [fk_ordenid] FOREIGN KEY([ordenid])
REFERENCES [dbo].[ordenes] ([ordenid])
GO
ALTER TABLE [dbo].[detalle_ordenes] CHECK CONSTRAINT [fk_ordenid]
GO
ALTER TABLE [dbo].[detalle_ordenes]  WITH CHECK ADD  CONSTRAINT [fk_productoid] FOREIGN KEY([productoid])
REFERENCES [dbo].[productos] ([productoid])
GO
ALTER TABLE [dbo].[detalle_ordenes] CHECK CONSTRAINT [fk_productoid]
GO
ALTER TABLE [dbo].[ordenes]  WITH CHECK ADD  CONSTRAINT [fk_clienteid] FOREIGN KEY([clienteid])
REFERENCES [dbo].[clientes] ([clienteid])
GO
ALTER TABLE [dbo].[ordenes] CHECK CONSTRAINT [fk_clienteid]
GO
ALTER TABLE [dbo].[ordenes]  WITH CHECK ADD  CONSTRAINT [fk_empleadoid] FOREIGN KEY([empleadoid])
REFERENCES [dbo].[empleados] ([empleadoid])
GO
ALTER TABLE [dbo].[ordenes] CHECK CONSTRAINT [fk_empleadoid]
GO
ALTER TABLE [dbo].[productos]  WITH CHECK ADD  CONSTRAINT [fk_categoriaid] FOREIGN KEY([categoriaid])
REFERENCES [dbo].[categorias] ([categoriaid])
GO
ALTER TABLE [dbo].[productos] CHECK CONSTRAINT [fk_categoriaid]
GO
ALTER TABLE [dbo].[productos]  WITH CHECK ADD  CONSTRAINT [fk_proveedorid] FOREIGN KEY([proveedorid])
REFERENCES [dbo].[proveedores] ([proveedorid])
GO
ALTER TABLE [dbo].[productos] CHECK CONSTRAINT [fk_proveedorid]
GO
USE [master]
GO
